<mat-sidenav-container class="sidenav">
  <mat-sidenav class="sidenav__aside" #aside>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav__content">
    <app-spinner *ngIf="isSpinnerVisible"></app-spinner>
    <app-header
      [isLoggedIn]="isLoggedIn"
      (menuButtonClicked)="aside.toggle()"
      (loggedOutClicked)="logout()"
    ></app-header>
    <section class="sidenav__main-content">
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
