<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AuthForm</title>
  </head>
  <body>
    <div class="auth__container">
      <div class="auth__form">
        <h1>Budgetify</h1>
        <div *ngIf="submitted" class="auth__incorrect_container">
          <p>Incorrect email or password</p>
        </div>
        <form
          class="auth__form_layout"
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit()"
        >
          <mat-form-field class="auth__form_row" appearance="outline">
            <mat-label>Email</mat-label>
            <input
              type="email"
              matInput
              placeholder="email@domain.com"
              formControlName="email"
              class="aut__input"
            />
            <mat-error
              *ngIf="isValidControllers['email'].errors?.['required'] && isValidControllers['email'].dirty"
            >
              Required field is empty
            </mat-error>
            <mat-error
              *ngIf="isValidControllers['email'].errors?.['email'] && isValidControllers['email'].dirty"
            >
              Please enter valid email
            </mat-error>
          </mat-form-field>
          <mat-form-field class="auth__form_row" appearance="outline">
            <mat-label>Password</mat-label>
            <input
              type="password"
              class="auth_input"
              matInput
              formControlName="password"
            />
            <mat-error
              *ngIf="isValidControllers['password'].errors?.['required'] && isValidControllers['email'].dirty"
              >Required field is empty</mat-error
            >
          </mat-form-field>
          <button
            type="submit"
            [disabled]="loginForm.invalid"
            style="width: 100%"
            color="primary"
            mat-raised-button
          >
            Login
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
