<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="category__conatiner">
      <div class="category__search-section">
        <div class="category__search-section-next">
          <mat-icon>search</mat-icon>
          <input
            type="search"
            class="category__search-input"
            placeholder="Search..."
          />
        </div>
      </div>
      <div class="category__cards-btns-section">
        <div class="category__cards-section">
          <div class="category__cards" *ngFor="let category of categories">
            <div class="category__cards-title" *ngIf="!isEditable">
              {{ category.title }}
            </div>
            <form action="" *ngIf="isEditable">
              <mat-form-field appearance="legacy" style="width: 50%">
                <input type="text" matInput />
              </mat-form-field>
            </form>
            <div class="category__cards-btns">
              <div class="category__cards-edit-btn">
                <mat-icon *ngIf="!isEditable" (click)="makeItEditable()"
                  >mode_edit</mat-icon
                >
                <mat-icon *ngIf="isEditable">done</mat-icon>
              </div>
              <div class="category__cards-delete-btn">
                <mat-icon>delete_outline</mat-icon>
              </div>
            </div>
          </div>
        </div>
        <div class="category__btns-section">
          <button class="category__income-btn" mat-raised-button>
            <div style="display: flex; gap: 10px">
              <div class="category__income_icon">
                <mat-icon>arrow_upward</mat-icon>
              </div>
              Income
            </div>
          </button>
          <button class="category__expense-btn" mat-raised-button>
            <div style="display: flex; gap: 10px">
              <div class="category__expense_icon">
                <mat-icon>arrow_downward</mat-icon>
              </div>
              Expense
            </div>
          </button>
          <button class="category__trans_btn" mat-raised-button>
            <div style="display: flex; gap: 10px">
              <div style="display: flex; align-self: center">
                <mat-icon style="color: white">add_circle</mat-icon>
              </div>
              Add Category
            </div>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
