<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
  </head>
  <body>
    <header class="header">
      <button *ngIf="isLoggedIn" class="header_icon_button" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <div class="header__logo">Account</div>
      <div *ngIf="isLoggedIn" class="header__logout">
        <a routerLink="/login" mat-raised-button (click)="logOut()">Logout</a>
      </div>
    </header>
  </body>
</html>
