<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="rights__container">
      <button class="rights__trans_btn">
        <mat-icon style="color: grey">add_circle</mat-icon>
        <div>Transaction</div>
      </button>
      <button class="rights__pggb_btn">Add Piggy Bank</button>
    </div>
  </body>
</html>
